li {
    list-style-type: none
}

body {
    width: 80%;
    padding-left: 150px;
    padding-right: 150px;
    background: url(/resources/film1.jpg) left repeat-y, url(/resources/film1.jpg) right repeat-y;
    font-size:15px;
}

.white{
    height: 40%;
}

.pad {
    padding-left: 40%;
}

.pad1 {
    padding-left: 50%;
}


.link {color:#fff; text-decoration:none}
.link:hover {color:#fff; text-decoration:underline}

#mask {
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
    display:none;
}
#boxes .window {
    border-radius: 5px;
    position:absolute;
    left:0;
    top:0px;
    -top: 40px;
    width:440px;
    height:200px;
    display:none;
    z-index:9999;
    padding: 20px;
    overflow: hidden;
}
#boxes #dialog {
    width:375px;
    height:150px;
    padding:10px;
    background-color:#ffffff;
}
.top {
    position:absolute;
    left:0;
    top:0;
    width:380px;
    height:50px;
    background: #0085cc;
    padding: 8px 20px 6px 10px;
    color: white;
}
.close {
    float:right;
}
.content {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}